<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - spice-wise</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/68c27c1bdd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header class="header" id="header">
            <div class="desktop-nav">
                <partial name="_NavArea" model='new string[] {"Home", "Collection", "Planner"}' />
            </div>
            <div style="
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 4vw 0 4vw;">
                <partial name="_Logo" />
            </div>
            <input id="hamburger-toggle" type="checkbox" style="display:none"/>
            <label class="hamburger"  id="hamburger" for="hamburger-toggle">
                <partial name="_Hamburger" />
            </label>
            <div class="desktop-nav">
                <partial name="_NavArea" model='new string[] {"Support", "About", "Preferences"}' />
            </div>
        </header>
        <partial name="_NavDropdown" model='new string[] {"Home", "Collection", "Planner", "Support", "About", "Preferences"}' />
        <main role="main" class="content">
            @RenderBody()
        </main>
        <footer class="footer">

        </footer>

        <script>
            const hamburgerToggle = document.querySelector('#hamburger-toggle');

            function updateHeaderHeight() {
                if(!hamburgerToggle.checked) {
                    var width = $(window).width();
                    var height = $(window).height();
                    var aspectRatio = width / height;
                    if (aspectRatio < 4 / 3)
                        document.getElementById('header').style.height = "10rem";
                    else
                        document.getElementById('header').style.height = "6rem";
                }
            }

            function updateNavArea() {
                hamburgerToggle.addEventListener('change', () => {
                    if(!hamburgerToggle.checked)
                        document.getElementById('nav-dropdown').style.height = "0";
                    else
                        document.getElementById('nav-dropdown').style.height = "60vh";
                });

                //navbar state
                if(window.innerWidth > 1100) {
                    hamburgerToggle.checked = false;
                    $('.desktop-nav').show();
                    $('.hamburger').hide();
                    document.getElementById('header').style.height = "6rem";
                } else {
                    $('.desktop-nav').hide();
                    $('.hamburger').show();
                    document.getElementById("hamburger").style.display = "flex";
                }
            }

            $(document).ready(updateNavArea);
            $(document).ready(updateHeaderHeight);
            $(window).resize(updateHeaderHeight);
            $(window).resize(updateNavArea);
        </script>
    </body>
</html>