<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - spice-wise</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/68c27c1bdd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <partial name="_NavArea" model='new string[] {"Home", "Collection", "Planner"}'/>

            <div class="brand">
            <i class="fa-solid fa-pepper-hot logo" style="color: #ffffff;"></i>
            spice-wise
            </div>

            <partial name="_NavArea" model='new string[] {"Support", "About", "Preferences"}' />
        </header>
        <div class="content">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer class="footer">

        </footer>
    </body>
</html>