@model string[]

<div class="nav-section">
    @foreach(string s in Model)
    {
        <partial name="_NavButton" view-data='new ViewDataDictionary(ViewData) { {"Action", "Index"}, {"Controller", @s} }'/>
    }
</div>