<a class="@(ViewData["Title"]!.Equals(ViewData["Controller"]) ? "nav-button-active unselectable" : "nav-button")"
    href="@Url.Action(ViewData["Action"]!.ToString(), ViewData["Controller"]!.ToString())">
        @ViewData["Controller"]!.ToString()!.ToLower()
</a>