@model string

<h1>@Model recipes</h1>

<div class="recipe-container">
    @for (int i = 0; i < 4; i++)
    {
            <div class="recipe-card">
                <h1 style="margin:auto; color: rgb(100 200 140); text-shadow: none; font-size: calc(2vh + 1vw);">placeholder</h1>
            </div>
    }
</div>

<a class="button">more @Model</a>